{{/*
Entry layout with dual-view. This template is intended for use in catalogue-style pages where
a single image or object needs to be featured prominently, but with the option for comparative
views of other figures in the article.
*/}}

{{ define "main" }}

{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

{{ $zoom :=  $.Site.Params.figureZoom  }}
{{ $pdf :=  $.Site.Params.pdf }}
{{ $site :=  $ }}
{{ $page := . }}

{{/* Entry content, including entry image and tombstone data */}}
<article class="{{ partial "page-class.html" . }} quire-entry" id="main" role="main">
  <div {{ if or (eq $.Site.Params.entryPageSideBySideLayout true) (in .Page.Params.class "side-by-side") }}
    {{ if and (ne $.Site.Params.pdf true) (ne $.Site.Params.epub true) }} class="side-by-side" {{ end }} {{ end }}
    data="{{ $.Site.Params.figureZoom }}">

    {{ if eq .Site.Params.epub true }}
      <header class="quire-entry__header">
        <div class="container">
          {{/* Title */}}
          <h1 class="quire-page__header__title" id="{{ .full_title | urlize }}">
            {{ with .Params.label }}<span>{{ . }}{{ $.Site.Params.pageLabelDivider }}</span>{{ end }}
            {{ partial "page-title.html" . | markdownify }}
          </h1>
        </div>
      </header>
    {{ end }}

    {{/* Full-width entry image header */}}
    {{/*  Iterating over $views to do make 2 for dual-view */}}
    {{ range $idx := (slice 0 1) }}
      <div class="quire-entry__image-wrap dualview {{ if eq $idx 1 }}hidden{{ end }}" data-dualview={{ $idx }}>
        <div class="quire-entry__image">
          {{ if $page.Params.image }}
            {{- $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") .Params.image -}}
            <img src="{{ $imgPath | relURL }}" alt="" />
          {{ else if $page.Params.object }}
            {{ $object := $page.Params.object }}
            {{ range $object }}
              {{ if .id }}
                {{ range where $.Site.Data.objects.object_list "id" "eq" .id }}
                  <div class="quire-entry__image__group-container">
                    {{ if gt (len .figure) 1 -}}
                      {{ if ne $.Site.Params.pdf true }}
                        <button class="remove-from-epub quire-image-control quire-image-control--prev-image na-image-control na-image-control__slider na-image-control__prev"
                          title="Previous image"></button>
                        <button class="remove-from-epub quire-image-control quire-image-control--next-image na-image-control na-image-control__slider na-image-control__next"
                          title="Next image"></button>
                      {{ end }}
                    {{ end -}}
                    {{ range .figure }}
                      {{ if .id }}
                        {{ range where $.Site.Data.figures.figure_list "id" "eq" .id }}
                          {{ partial "figure.html" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" . "object" $object  "dualViewIdx" $idx) }}
                        {{ end }}
                      {{ else if .src }}
                        {{ partial "figure.html" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" . "object" $object  "dualViewIdx" $idx) }}
                      {{ end }}
                    {{ end }}
                  </div>
                {{ end }}
              {{ else if .figure }}
                <div class="quire-entry__image__group-container">
                  {{ range .figure }}
                    {{ if .id }}
                      {{ range where $.Site.Data.figures.figure_list "id" "eq" .id }}
                        {{ partial "figure.html" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  "object" $object ) }}
                      {{ end }}
                    {{ else if .src }}
                      {{ partial "figure.html" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  "object" $object ) }}
                    {{ end }}
                  {{ end }}
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}
    <div class="remove-from-epub na-resizer toggled">
      <p><img src="../../img/icons/resizer.png" alt="Resize view"/><!--{{ partial "icon.html" (dict "type" "resizer" "description" "") }}--></p>
      <span class="na-tooltip">Resize view</span>
    </div>
    <div class="quire-entry__content dualview">

      {{/* Entry header */}}
      {{ if ne .Site.Params.epub true }}
        <header class="quire-entry__header">
          <div class="container">
            {{/* Title */}}
            <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
              {{ with .Params.label }}<span>{{ . }}{{ $.Site.Params.pageLabelDivider }}</span>{{ end }}
              {{ partial "page-title.html" . | markdownify }}
            </h1>
          </div>
      </header>
      {{ end }}

      {{ partial "page-tombstone.html" . }}

      {{ if .Params.abstract }}
        {{ partial "page-abstract.html" . }}
      {{ end }}

      {{/* Entry content */}}
      <section class="section quire-page__content" id="content">
        <div class="container">
          <div class="content">
              {{ .Content }}
            {{/* {{ partial "page-bibliography.html" . }} */}}
          </div>
        </div>
      </section>

      <section class="section quire-page__content">
        <div class="container">
          {{ partial "footer-buttons.html" . }}
        </div>
      </section>
      <!-- columns -->
    </div>
  </div>
</article>
{{ end }}
